.header-main {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e09c9c;

background-image: url("https://www.transparenttextures.com/patterns/light-gray.png");
}


.header-main div img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-top: 40px;

}

.header-main div h2 {
  font-weight: 350;
  margin-top: 0px;
}