.new-tweet {
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}






.new-tweet textarea {

  border-width: 0 0 5px 0;
  background: inherit;
  border-color: #545149;
  height: 80px;
  width: 75vw;
  margin-top: 40px;
  resize: none;
  overflow: auto;


 


}

.new-tweet textarea:focus {
  outline: none;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
 
}

button {
  display: flex;
  color: white;
  background-color: #4056a1;
  font-family: 'Bungee', cursive;
  font-size: 0.9em;
  align-items: center;
  border: none;
  justify-content: space-between;
  cursor: pointer;
  
}

.char-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 0.9em;
  
}



div.error {
  margin-top: 20px;
  border: 3px solid red;
  color: red;
  width: 100%;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
