.new-tweet {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


form {
  width: 70%;
}


textarea {
  font-size: 1em;
  border: none;
  background: inherit;
  width: 100%;
  border: none;
  border-bottom: 5px solid #545149;

 
 
}

button {
  display: flex;
  color: white;
  background-color: #4056a1;
  font-family: 'Bungee', cursive;
  font-size: 0.9em;
  border: none;
  justify-content: center;
  
}

.char-counter {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 20px;
}

