article.tweets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
 
  
}


.handle {
  color: lightgrey;
  font-weight: bold;
  
}


p.tweet-area {
  padding: 20px 20px 35px;
  margin: 20px;

}


.tweet {
  display: flex;
  flex-direction: column;
  border: 3px solid;
  padding: 10px;
  margin: 25px 0;
  width: 40rem;
  transition: 0.15s ease-in-out;
}


.tweet:hover{
  box-shadow: 10px 10px #D3D3D3;
}

article.tweet header, article.tweet footer {
  display: flex;
  justify-content: space-between;
}


article.tweet header div {
  flex-direction: row;
  font-size: inherit;
  padding: 5px;
  
  
}

article.tweet header div img {
  width: 52px;
  height: 52px;
  margin: 5px;
}




article.tweet footer {
  border-top: inherit;
  width: 100%;
  padding: 0px 15px 12px;
  font-size: 10px;
}


.tweet footer div {
  display: flex;
  justify-content: space-between;
  width: 55px;
  color: #4056a1;
}


.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  color: #e09c9c;
  cursor: pointer;
}


